  <div class="box">
            <div class="instruction">
                <div class="insttext">
                <p style="padding-top: 0px !important; margin: 3px;">Click on the buttons below to know more</p>
                </div>
            </div> 
              <br>
            <div class="mainbox">
                <div class="tabss">
                    <button class="tablinks active" onclick="openTab(event, 'first')" >Title One</button>
                    <button class="tablinks" onclick="openTab(event, 'second')">Title Two</button>
                    <button class="tablinks" onclick="openTab(event, 'third')">Title Three</button>
                    <p style="margin:0px;"><br></p>
                </div>

                <div id="first" class="tabcontent" style="display: block;">
                    <h4>Title One</h4>
                    <p>This course aims to provide foundational knowledge and resources about the Libyan conflict and human rights situation, tailored for international professionals interested and/or working in the human rights field. It equips them with the knowledge necessary to navigate Libya's evolving political, socio-economic, and human rights landscape to support them as they embark on their work in Libya.  </p>
                    <img src="https://learnsimply.kashida-learning.com/asset-v1:LFJL+108+2025+type@asset+block@Frame_535__2_.png"/>
                </div>

                <div id="second" class="tabcontent" style="display: none;">
                    <h4>Title Two</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,  </p>
                    <img src="https://learnsimply.kashida-learning.com/asset-v1:LFJL+108+2025+type@asset+block@Frame_535__2_.png"/>
                </div>

                <div id="third" class="tabcontent" style="display: none;">
                   <h4>Title Two</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,  </p>
                    <img src="https://learnsimply.kashida-learning.com/asset-v1:LFJL+108+2025+type@asset+block@Frame_535__2_.png"/>
                </div>
            </div>
        </div>